{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>template</title>
    <link href="{% static 'css/224test.css' %}" rel="stylesheet">
</head>
<body>
    <div class="side_bar">
    <nav>
        <ul>
            <li><a href="">マイページ</a></li>
            <li><a href="{% url 'quest' %}">クエスト</a></li>
            <li><a href="">ギルド</a></li>
            <li><a href="">パーティー</a></li>
            <li><a href="">ステータス</a></li>
            <li><a href="">設定</a></li>
        </ul>
    </nav>
    </div>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">

<div id="page_top"><a href="#"></a></div>
</body>
</html>