{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Member</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/224party.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
    <h2>Add a Member to {{ party.name }}</h2>
    <form method="post">
        {% csrf_token %}
        <label for="user_id">Select User:</label>
        <select id="user_id" name="user_id">
            {% for user in users %}
                <option value="{{ user.user_id }}">{{ user.name }}</option>
            {% endfor %}
        </select>
        <label for="role">Role:</label>
        <input type="text" id="role" name="role" required>
        <button type="submit">Add Member</button>
    </form>
    </div>
    <img src="{% static 'img/img/top.jpg' %}" alt="Background" class="background">

</body>
</html>