{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>クエストを追加</title>
    <link href="{% static 'css/224addque.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <img src="{% static 'img/img/top.jpg' %}" alt="Background" class="background">
    <h1>クエストを追加</h1>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit">追加</button>
        </form>
    </div>
    <a href="{% url 'quest' %}">クエストリストに戻る</a>
</body>
</html>