{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>クエストリスト</title>
    <meta charset="UTF-8">
    <link href="{% static 'css/224quest.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="quests-container">
            {% for quest in quests %}
                <div class="quest-container">
                    <h2 class="quest-title">
                        <a href="{% url 'quest_detail' quest_id=quest.pk %}">{{ quest.title }}</a>
                    </h2>
                    <p class="quest-detail">{{ quest.detail }}</p>
                    <p class="quest-meta">
                        難易度: <span class="difficulty">{{ quest.difficulty }}</span> |
                        予想時間: <span>{{ quest.time }}</span> |
                        状態: <span class="status">{{ quest.status }}</span>
                    </p>
                </div>
            {% empty %}
                <p>現在利用可能なクエストはありません。</p>
            {% endfor %}
            <div class="profile-actions">
                <a href="{% url 'top' %}" class="action-link">ホームに戻る</a>
            </div>
        </div>
    </div>

    <a href="{% url 'create_quest' %}" class="buttonNeumorphism">
        <svg class="iconPlus" width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="12" y1="5" x2="12" y2="19" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
            <line x1="5" y1="12" x2="19" y2="12" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </a>
    

    <img src="{% static 'img/img/top.jpg' %}" alt="Background" class="background">
</body>
</html>
