{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>クエストリスト</title>
    <meta charset="UTF-8">
        <link href="{% static 'css/224login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="nav">
            <ul>
                <li><a href="{% url 'toppage'%}">Home</a></li>
                <li class="current"><a href="#">Quest</a></li>
                <li><a href="{% url 'create_party'%}">Party</a></li>
                <li><a href="">Option</a></li>
            </ul>
        </nav>

        <div class="left-space">
            <h2>アプリ名</h2>
            <p>クエスト</p>
            <p>ギルド</p>
            <p>パーティ</p>
            <p><a href="{% url 'password' %}">password</a></p> <!-- a タグを使用 -->
        </div>
        <div class="quests-container">
            {% for quest in quests %}
                <div class="quest-container">
                    <h2 class="quest-title">
                        <a href="{% url 'quest_detail' quest_id=quest.pk %}">{{ quest.title }}</a>
                    </h2>
                    <p class="quest-detail">{{ quest.detail }}</p>
                    <p class="quest-meta">
                        難易度: <span class="difficulty">{{ quest.difficulty }}</span> |
                        予想時間: <span>{{ quest.time }}</span> |
                        状態: <span class="status">{{ quest.status }}</span>
                    </p>
                </div>
            {% empty %}
                <p>現在利用可能なクエストはありません。</p>
            {% endfor %}
        </div>
    </div>
    <img src="{% static 'img/img/top.jpg' %}" alt="Background" class="background">

</body>
</html>