{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>クエストの作成</title>
    <link href="{% static 'css/224login.css' %}" rel="stylesheet">

</head>
<body>
    <div class="signup-container">
    <h1>クエストを作成する</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- フォームを段落として表示 -->
        <button type="submit">送信</button>
    </form>
    </div>
 <img src="{% static 'img/img/top.jpg' %}" alt="Background" class="background">

</body>
</html>