{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/224state.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ステータスリスト</title>

</head>
<body>
    <div class="container">
        <div class="left-space">
            <h2><a href="{% url 'top' %}">アプリ名</a></h2>
            <p><a href="{% url 'quest' %}">クエスト</a></p>
            <p><a>ギルド</a></p>
            <p><a href="{% url 'create_party' %}">パーティ</a></p>
        </div>
        <div class="status-container">
            <h2 class="user">
                {{ user.name }}
            </h2>
            {% for s in status %}
                <p class="status">{{ s.category.status_name }} : {{ s.parameter }}</p>
            {% empty %}
                <p class="status">登録されているステータスはありません。</p>
            {% endfor %}
            <p><a href="{% url 'career_to_status' user.user_id %}">ステータスを登録(変更)する</a></p>
        </div>
    </div>
</body>
</html>